<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    <%= project %>
  </title>
  <%- header %>
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        <%- endpointscript %>
      })
    </script>
</head>

<%- body %>

</html>